<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
<form th:action="@{/calculadora}" th:object="${calculadoraDTO}" method="post">
    <label for="nota1">Primera Nota =:</label>
    <input type="text" id="nota1" th:field="*{nota1}" required>

    <label for="nota2">Segunda Nota =:</label>
    <input type="text" id="nota2" th:field="*{nota2}" required>

    <label for="nota3">Tercera Nota =:</label>
    <input type="text" id="nota3" th:field="*{nota3}" required>


    <button type="submit">Calcular Nota media</button>
</form>

<div th:if="${cambio}"><span th:text="${cambio}"></span></div>
</body>
</html>