<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ecuación de segundo grado</title>

    <link rel="stylesheet" th:href="@{/ecuacion.css}">

</head>
<body>

    <form th:action="@{/ecuacion/formulario/enviar}" th:object="${ecuacionDTO}" method="post">

        <label for="a">a</label>
        <input type="number" step="any" id="a" th:field="*{a}"/>

        <label for="b">b</label>
        <input type="number" step="any" id="b" th:field="*{b}"/>

        <label for="c">c</label>
        <input type="number" step="any" id="c" th:field="*{c}"/>

        <button type="submit">Calcular</button>

    </form>

    <div th:if="${msg}">
        <p th:text="${msg}"></p>
    </div>

    <!-- Resultados -->
    <div th:if="${raiz1 != null and raiz2 != null}">
        <p>Raíz 1: <input th:value="${raiz1}" readonly></p>
        <p>Raíz 2: <input th:value="${raiz2}" readonly></p>
    </div>

    

</body>
</html>